/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(210, 210, 210);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(38, 38, 38);
}

/* header */

header {
    background-color: white;
    width: 100%;
    font-size: 1em;
}

.box {
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    margin: 10px 10px;
}

#logo img {
    vertical-align: middle;
    margin-left: 10px;
}

/* nav */

nav{
    padding-top: 20px;
    margin: 0 auto;
}

.btn{
    padding: 6px 12px;
    border-radius: 6px;
    border-color: transparent;
}


#addSection{
    background-color: white;
    border: 1px solid grey;
    color: grey;
}
#addTask{
    color: white;
    background-color: rgb(0, 179, 255);
}
/* main */

main{
    padding-top: 1px;
    font-size: 0.8em;
    margin: 0 auto;
}

.padding-bottom{
    padding-bottom: 20px;
}

.container {
    background-color: white;
    margin: 0 auto;
    width: 1200px;
    height: auto;
    border-radius: 2px;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

ul{
    list-style-position: inside;
    list-style-type: none;
    padding-top: 5px;
}

.square {
    width: 60px;
    height: 30px; 
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 16px;
    font-size: 0.8em;
    color: white;
}

.sfondoedit{
    background-color: rgb(0, 179, 255);
}

.sfondogoals{
    background-color: blueviolet;
}

.sfondorecruit{
    background-color: rgb(107, 192, 182);
}
.sfondomobile{
    background-color: rgb(255, 130, 46);
}
.sfondosales{
    background-color: rgb(217, 236, 107);
}
.sfondowebsite{
    background-color: rgb(236, 107, 161);
}
